<!DOCTYPE html>
<html>

<head>
  <!--
  Eli Gombis
  3/7/24
  Web Development 
  -->
  <style>
    /*Activities Styles*/
    #activities h1, #who h1{
      color: #67B132;
      font-size: 48px;
      float: bottom;
      margin-top: 100px;
    }
    #activities ul, #who p{
      list-style: square;
      font-size: 24px;
      color: #091535;
      font-weight: 600;
      text-shadow: 3px 3px rgba(12, 26, 67, 15%);
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About Programming Club</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <h1>About Programming Club</h1>
      <button><a href = "contact">Contact Us</a></button>
      <button><a href = "about">About Us</a></button>
      <button><a href = "home">Home</a></button>
    </nav>
  </header>
  <article id = "activities">
  <h1>What do we do at Programming Club?</h1>
  <ul>
    <li>Learn New Programming Languages</li>
    <li>Game Development</li>
    <li>Play Various Oddball Games</li>
    <li>Have Fun!</li>
  </ul>
  </article>
  <article id = "who">
  <h1>Who can join Programming Club?</h1>
  <p>Programming Club is open to any LT student. It doesn't matter how much coding experience you have.  If you are a beginner we can teach you some things.  If you are experienced then you can come and work on some projects with us such as our game, Tis But A Scratch!</p>
  </article>
  
</body>

</html>