<!DOCTYPE html>
<html>

<head>
  <!--
  Eli Gombis
  3/7/24
  Web Development 
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Programming Club Email List</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <h1>Contact Programming Club</h1>
      <button><a href = "contact">Contact Us</a></button>
      <button><a href = "about">About Us</a></button>
      <button><a href = "home">Home</a></button>
    </nav>
  </header>
  <form method = "POST">
    <input type="email" name="emailBox" placeholder="Your email here" />
    <button>Submit</button>
  </form>
</body>

</html>