<!DOCTYPE html>
<html>

<head>
  <!--Color Scheme: 
  #E5F8D8
  #67B132
  #357D99
  #0446FE
  #091535-->
  <!--
  Eli Gombis
  3/7/24
  Web Development 
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Programming Club</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <h1><a href = "https://www.lths.net/" target="_blank" title="LTHS Official Website">LTHS</a> Programming Club</h1>
      <button><a href = "contact">Contact Us</a></button>
      <button><a href = "about">About Us</a></button>
      <button><a href = "home">Home</a></button>
    </nav>
  </header>
  <p id = "intro">
    Welcome to the Lyons Township Highschool Programming Club Homepage! You can find more information about the club on the <a href = "about.html" title="Go to About Us Page">About Us</a> page and find out how to get in touch with us on the <a href = "contact.html" title="Go to Contact Us Page">Contact Us</a> page! Programming Club is open to all LT students and we encourage you to join.
  </p>
</body>

</html>