<!DOCTYPE html>
<html>

<head>
  <!--
  Eli Gombis
  3/7/24
  Web Development 
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Coming Soon!</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <h1><a href = "https://www.lths.net/" target="_blank" title="LTHS Official Website">LTHS</a> Programming Club</h1>
      <button><a href = "contact">Contact Us</a></button>
      <button><a href = "about">About Us</a></button>
      <button><a href = "home">Home</a></button>
    </nav>
  </header>
    <center><h1 id = "verifySuccess">You Have Been Successfully Verified!</h1></center>
</body>

</html>